##############################
## Java
##############################
*.class

##############################
## IntelliJ
##############################
out/
.idea/
*.iml

#############################
## Maven
#############################
target/

##############################
## Misc
##############################
.DS_STORE
