##############################
## Java
##############################
*.class

##############################
## IntelliJ
##############################
out/
.idea/
*.iml

##############################
## Misc
##############################
.DS_STORE
